*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* header */
header{
    background-color: #0dcaf0;
    height: 600px;
}

/* nav */
.navbar{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.navbar-nav{
    align-items: flex-start;
    gap: 5px;
}

.navbar-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
}

/* carousel */


/* presentación section */
#presentación{
    background-color: #000000;
    height: 400px;
}

/* destacados section */
#destacados{
    background-color: #000000;
    height: 300px;
}

/* formulario */
#formulario{
    background-color: #000000;
    height: 500px;
}

/* footer */
.footer{
    background-color: #0dcaf0;
    height: 90px;
    padding: 0 20px;
}

.fin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    color: #ffffff;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
}

.footer-social{
    display: flex;
    gap: 20px;
}

.footer-social i{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

/* media query */
